body {
  font-family: Arial;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;

}

h1{
  font-size: 35px;
  margin: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
  justify-items: center; 
}

#projects-container {
  max-width: 950px;
  margin: 0 auto;
}


.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.2s;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.card a {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 14px;
  background: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.card a:hover {
  background: #005fcc;
}
